PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://shubham:shubham123@shubhcluster.qcpc6.mongodb.net/leads-dashboard?appName=ShubhCluster
CLIENT_URL=http://localhost:5173
JWT_SECRET=harekrishnaharekrishnaharekrishna
